html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#App {
    margin: 1.5em auto;
    max-width: 1200px;
    column-gap: 1.5em;
}

.SearchResult {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(4, minmax(230px, 1fr));
    grid-gap: 10px;
}

.SearchResult img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SearchInput {
    width: 100%;
    font-size: 40px;
    padding: 10px 15px;
}

.SearchWrap {
    display: flex;
}

.RandomButton {
    margin-left: 10px;
    width: 110px;
    font-size: 19px;
    background: #09f;
    color: #fff;
    border: none;
}

.ImageInfo {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    color: #000;
}

.ImageInfo ul,
.ImageInfo li {
    list-style: none;
}

.ImageInfo .title,
.ImageInfo .description {
    padding: 5px;
}

.ImageInfo .title {
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.ImageInfo .content-wrapper {
    padding: 10px 20px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    border: 1px solid #eee;
    border-radius: 5px;
}
.ImageInfo .content-wrapper img {
    width: 100%;
}
@media(max-width: 993px) {
    .SearchResult {
        grid-template-columns: repeat(3, minmax(250px, 1fr))
    }
}
@media (max-width: 769px) {
    .SearchResult {
        grid-template-columns: repeat(2, minmax(280px, 1fr));
    }
    .ImageInfo .content-wrapper {
        left: 10px;
        right: 10px;
        transform: translate(0, -50%);
    }
}
@media (max-width: 577px) {
    .SearchResult {
        display: block;
    }
}

.item {
    cursor: pointer;
}

.white {
    background: #fff !important;
    color: black;
}
.dark {
    background: #000 !important;
    color: white;
}